<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Burger already eaten...{{else}}Devour It!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DEVOUR IT!</button>
</li>
